DTFCTDATA/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "DTFCTDATA"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_bronze_dw_loja_teste')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "set current_date",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "current_date",
							"value": {
								"value": "@utcnow('yyyyMMdd')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "dw_loja",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "set current_date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "select top(1000) *\nfrom dw_loja",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SK_Loja",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "SK_Loja",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "Codigo_Loja",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Codigo_Loja",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "Codigo_Documento",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Codigo_Documento",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Codigo_Status",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Codigo_Status",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "Status_Loja",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Status_Loja",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Codigo_Situacao",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Codigo_Situacao",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "Situacao_Loja",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Situacao_Loja",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Tipo_Relacionamento",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Tipo_Relacionamento",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Razao_Social",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Razao_Social",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Nome_Fantasia",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Nome_Fantasia",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "CNPJ",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "CNPJ",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Inscricao_Estadual",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Inscricao_Estadual",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Logradouro",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Logradouro",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Endereco",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Endereco",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Numero_Endereco",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Numero_Endereco",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Complemento_Endereco",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Complemento_Endereco",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Bairro",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Bairro",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "CEP",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "CEP",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Estado",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Estado",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Cidade",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Cidade",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Codigo_Cidade",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Codigo_Cidade",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "Latitude_Cidade",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 7,
											"precision": 11
										},
										"sink": {
											"name": "Latitude_Cidade",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "Longitude_Cidade",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 7,
											"precision": 11
										},
										"sink": {
											"name": "Longitude_Cidade",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "IBGE",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "IBGE",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "Percentual_Cobertura_Hughes",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 2,
											"precision": 6
										},
										"sink": {
											"name": "Percentual_Cobertura_Hughes",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "Classificacao_Loja_Hughes",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Classificacao_Loja_Hughes",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Situacao_Municipio_Hughes",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Situacao_Municipio_Hughes",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Populacao",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Populacao",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "DTV",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "DTV",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "Telespectadores_Potenciais",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Telespectadores_Potenciais",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "Pessoas_Domicilio",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 10
										},
										"sink": {
											"name": "Pessoas_Domicilio",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "Penetracao_DTV",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 10
										},
										"sink": {
											"name": "Penetracao_DTV",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "Tem_OI",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Tem_OI",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Tem_SKY",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Tem_SKY",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Tem_CLARO",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Tem_CLARO",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Antena_OI",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Antena_OI",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "Antena_SKY",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Antena_SKY",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "Antena_CLARO",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Antena_CLARO",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "Pontuacao",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Pontuacao",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "Motivo_Pontuacao",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Motivo_Pontuacao",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Globo_Exclusiva",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Globo_Exclusiva",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Classificacao_Loja_OI",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Classificacao_Loja_OI",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "DDD_Telefone_Loja",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "DDD_Telefone_Loja",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Telefone_Loja",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Telefone_Loja",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "DDD_Celular_Loja",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "DDD_Celular_Loja",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Celular_Loja",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Celular_Loja",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Email_Loja",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Email_Loja",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Recebe_Email",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Recebe_Email",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Recebe_SMS",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Recebe_SMS",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Latitude_Loja",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 7,
											"precision": 11
										},
										"sink": {
											"name": "Latitude_Loja",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "Longitude_Loja",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 7,
											"precision": 11
										},
										"sink": {
											"name": "Longitude_Loja",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "Classificacao",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Classificacao",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Codigo_Banco",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Codigo_Banco",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Banco",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Banco",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Agencia",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Agencia",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Conta_Corrente",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Conta_Corrente",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Nome_Titular",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Nome_Titular",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "URL_Web",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "URL_Web",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Flag_SAP",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Flag_SAP",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Flag_PDV",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Flag_PDV",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Data_Ativacao",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Data_Ativacao",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "Flag_Encontre_Lojista",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Flag_Encontre_Lojista",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Codigo_Regional",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Codigo_Regional",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Regional",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Regional",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Classificacao_Loja",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Classificacao_Loja",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "Flag_Aceita_Regra_Indicacao",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Flag_Aceita_Regra_Indicacao",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Data_Abertura_Empresa",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Data_Abertura_Empresa",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "DDD_Telefone_Loja_2",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "DDD_Telefone_Loja_2",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Telefone_Loja_2",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Telefone_Loja_2",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "DDD_Celular_Loja_2",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "DDD_Celular_Loja_2",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Celular_Loja_2",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Celular_Loja_2",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "DDD_Celular_Loja_3",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "DDD_Celular_Loja_3",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Celular_Loja_3",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Celular_Loja_3",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Data_Aprovacao_Adm",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Data_Aprovacao_Adm",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "Data_Aprovacao_Fiscal",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Data_Aprovacao_Fiscal",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "Loja_Nao_Emite_XML",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Loja_Nao_Emite_XML",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Loja_Devolve_Tudo_Hughes",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Loja_Devolve_Tudo_Hughes",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Flag_CAE_OI",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Flag_CAE_OI",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Flag_CAE_Hughes",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Flag_CAE_Hughes",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Data_Ultima_Compra",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Data_Ultima_Compra",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "Data_Ultima_Habilitacao",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Data_Ultima_Habilitacao",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "Logradouro_Correspondencia",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Logradouro_Correspondencia",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Endereco_Correspondencia",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Endereco_Correspondencia",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Numero_Endereco_Correspondencia",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Numero_Endereco_Correspondencia",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Complemento_Endereco_Correspondencia",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Complemento_Endereco_Correspondencia",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Bairro_Correspondencia",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Bairro_Correspondencia",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "CEP_Correspondencia",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "CEP_Correspondencia",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Estado_Correspondencia",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Estado_Correspondencia",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Cidade_Correspondencia",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Cidade_Correspondencia",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Codigo_Tipo_Distribuidor",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Codigo_Tipo_Distribuidor",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "Tipo_Distribuidor",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Tipo_Distribuidor",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Logradouro_Financeiro",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Logradouro_Financeiro",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Endereco_Financeiro",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Endereco_Financeiro",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Numero_Endereco_Financeiro",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Numero_Endereco_Financeiro",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Complemento_Endereco_Financeiro",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Complemento_Endereco_Financeiro",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Bairro_Financeiro",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Bairro_Financeiro",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "CEP_Financeiro",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "CEP_Financeiro",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Estado_Financeiro",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Estado_Financeiro",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Cidade_Financeiro",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Cidade_Financeiro",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Grupo_Distribuidor",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Grupo_Distribuidor",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Flag_Projeto_OI",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Flag_Projeto_OI",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Status_Projeto_OI",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Status_Projeto_OI",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Flag_Projeto_Hughes",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Flag_Projeto_Hughes",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Status_Projeto_Hughes",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Status_Projeto_Hughes",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Flag_Projeto_ELSYS",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Flag_Projeto_ELSYS",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Status_Projeto_ELSYS",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Status_Projeto_ELSYS",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Data_Inclusao",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Data_Inclusao",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "Data_Alteracao",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Data_Alteracao",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "Data_Inicio_Vigencia",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Data_Inicio_Vigencia",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "Data_Fim_Vigencia",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Data_Fim_Vigencia",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "Flag_Mais_Atual",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Flag_Mais_Atual",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Classificacao_Negocio_HUGHES",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Classificacao_Negocio_HUGHES",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Classificacao_Negocio_OI",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Classificacao_Negocio_OI",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Tamanho_Loja",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Tamanho_Loja",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Quantidade_Funcionario",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Quantidade_Funcionario",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Principal_Segmento_Atuacao",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Principal_Segmento_Atuacao",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Lista_Linha_Produto_Atuacao",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Lista_Linha_Produto_Atuacao",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Lista_Linha_Produto_Elsys",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Lista_Linha_Produto_Elsys",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Lista_Produto_Elsys",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Lista_Produto_Elsys",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Flag_Possui_Fachada_Elsys",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Flag_Possui_Fachada_Elsys",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Flag_Possui_Carro_Plotado_Elsys",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Flag_Possui_Carro_Plotado_Elsys",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Canal_Venda",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Canal_Venda",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Flag_Possui_Login_HUGHES",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Flag_Possui_Login_HUGHES",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Flag_Projeto_SKY",
											"type": "String",
											"physicalType": "char"
										},
										"sink": {
											"name": "Flag_Projeto_SKY",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Status_Projeto_SKY",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Status_Projeto_SKY",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Quantidade_Tecnico_SKY",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Quantidade_Tecnico_SKY",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "Flag_Projeto_ELSYS_Servico_Monitoria",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Flag_Projeto_ELSYS_Servico_Monitoria",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Status_Projeto_ELSYS_Servico_Monitoria",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Status_Projeto_ELSYS_Servico_Monitoria",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Flag_Projeto_SKY_Conforto",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Flag_Projeto_SKY_Conforto",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Status_Projeto_SKY_Conforto",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Status_Projeto_SKY_Conforto",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Flag_Projeto_Estacio",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Flag_Projeto_Estacio",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Status_Projeto_Estacio",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Status_Projeto_Estacio",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Valor_Disponivel_VPC_Atual_Hughes",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "Valor_Disponivel_VPC_Atual_Hughes",
											"type": "Double",
											"physicalType": "DOUBLE"
										}
									},
									{
										"source": {
											"name": "Valor_Disponivel_VPC_Anterior_Hughes",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "Valor_Disponivel_VPC_Anterior_Hughes",
											"type": "Double",
											"physicalType": "DOUBLE"
										}
									},
									{
										"source": {
											"name": "Responsavel_SKY",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Responsavel_SKY",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Flag_Termo_19_Dados_Clube_SKY",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Flag_Termo_19_Dados_Clube_SKY",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Flag_Termo_18_Dados_Marketing_SKY",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Flag_Termo_18_Dados_Marketing_SKY",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Flag_Termo_17_Dados_Distribuidor_Loja",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Flag_Termo_17_Dados_Distribuidor_Loja",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Flag_Termo_16_Distribuidor_Credenciado_Elsys",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Flag_Termo_16_Distribuidor_Credenciado_Elsys",
											"type": "String",
											"physicalType": "UTF8"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SqlServerTable1",
								"type": "DatasetReference",
								"parameters": {
									"schema": "dbo",
									"tbName": "dw_loja"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Parquet1",
								"type": "DatasetReference",
								"parameters": {
									"container": "bronze",
									"path": {
										"value": "dw_loja_teste",
										"type": "Expression"
									},
									"fileName": "file.parquet"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"current_date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"lastPublishTime": "2022-05-24T10:46:51Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_bronze_dw_persona_amplimax')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "set current_date",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "current_date",
							"value": {
								"value": "@utcnow('yyyyMMdd')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "dw_persona_amplimax",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "set current_date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SK_Persona_Amplimax",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "SK_Persona_Amplimax",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "Codigo_IBGE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Codigo_IBGE",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Estado",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Estado",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Nome_Cidade",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Nome_Cidade",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Nome_Mesorregiao",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Nome_Mesorregiao",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Frequencia_Meso",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Frequencia_Meso",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "Tamanho_Amostra_Meso",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Tamanho_Amostra_Meso",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "Frequencia_Estado",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Frequencia_Estado",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "Tamanho_Amostra_Estado",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Tamanho_Amostra_Estado",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "Operadora_Telefonia",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Operadora_Telefonia",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Tecnologia_Conexao",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Tecnologia_Conexao",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Banda",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Banda",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Consumo_Download",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Consumo_Download",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Tipo_Antena",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Tipo_Antena",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Tipo_Equipamento",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Tipo_Equipamento",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Tipo_Localidade",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Tipo_Localidade",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Tipo_Classificacao_Persona",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Tipo_Classificacao_Persona",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Data_Inclusao",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Data_Inclusao",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "Data_Alteracao",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Data_Alteracao",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "Data_Inicio_Vigencia",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Data_Inicio_Vigencia",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "Data_Fim_Vigencia",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Data_Fim_Vigencia",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SqlServerTable1",
								"type": "DatasetReference",
								"parameters": {
									"schema": "dbo",
									"tbName": "dw_persona_amplimax"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Parquet1",
								"type": "DatasetReference",
								"parameters": {
									"container": "bronze",
									"path": {
										"value": "dw_persona_amplimax",
										"type": "Expression"
									},
									"fileName": "file.parquet"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"current_date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"lastPublishTime": "2022-05-24T10:46:51Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_bronze_dw_produto')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "set current_date",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "current_date",
							"value": {
								"value": "@utcnow('yyyyMMdd')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "dw_produto",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "set current_date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SK_Produto",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "SK_Produto",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "Codigo_Produto",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Codigo_Produto",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Codigo_Filial_Elsys",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Codigo_Filial_Elsys",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Descricao_Produto",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Descricao_Produto",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Descricao_Produto_Extendida",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Descricao_Produto_Extendida",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Negocio",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Negocio",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Tipo_Produto",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Tipo_Produto",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Unidade_Medida_Produto",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Unidade_Medida_Produto",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Codigo_Projeto",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "Codigo_Projeto",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "Nome_Projeto",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Nome_Projeto",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Tipo_Material",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Tipo_Material",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Codigo_Familia_Produto",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Codigo_Familia_Produto",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Familia_Produto",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Familia_Produto",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Grupo_Produto",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Grupo_Produto",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Codigo_Subgrupo_Produto",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Codigo_Subgrupo_Produto",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Subgrupo_Produto",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Subgrupo_Produto",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Flag_Serial",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Flag_Serial",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Data_Inclusao",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Data_Inclusao",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "Data_Alteracao",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "Data_Alteracao",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "Celula",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "Celula",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "CELULA_PROTHEUS",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CELULA_PROTHEUS",
											"type": "String",
											"physicalType": "UTF8"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SqlServerTable1",
								"type": "DatasetReference",
								"parameters": {
									"schema": "dbo",
									"tbName": "dw_produto"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Parquet1",
								"type": "DatasetReference",
								"parameters": {
									"container": "bronze",
									"path": {
										"value": "dw_produto",
										"type": "Expression"
									},
									"fileName": "file.parquet"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"current_date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"lastPublishTime": "2022-05-24T10:46:54Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_bronze_ods_base_erbs')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "set current_date",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "current_date",
							"value": {
								"value": "@utcnow('yyyyMMdd')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ods_base_erbs",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "set current_date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CELLID",
											"type": "Byte[]",
											"physicalType": "binary"
										},
										"sink": {
											"name": "CELLID",
											"type": "Byte[]",
											"physicalType": "BINARY"
										}
									},
									{
										"source": {
											"name": "LAC",
											"type": "Byte[]",
											"physicalType": "binary"
										},
										"sink": {
											"name": "LAC",
											"type": "Byte[]",
											"physicalType": "BINARY"
										}
									},
									{
										"source": {
											"name": "OPERATOR_MCC",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "OPERATOR_MCC",
											"type": "Int16",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "OPERATOR_MNC",
											"type": "Int16",
											"physicalType": "smallint"
										},
										"sink": {
											"name": "OPERATOR_MNC",
											"type": "Int16",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "LATITUDE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 9
										},
										"sink": {
											"name": "LATITUDE",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "LONGITUDE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 9
										},
										"sink": {
											"name": "LONGITUDE",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "NOME_CIDADE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "NOME_CIDADE",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "NOME_ESTADO",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "NOME_ESTADO",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "NOME_REGIAO",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "NOME_REGIAO",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "DATA_INCLUSAO",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "DATA_INCLUSAO",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "DATA_ALTERACAO",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "DATA_ALTERACAO",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SqlServerTable1",
								"type": "DatasetReference",
								"parameters": {
									"schema": "dbo",
									"tbName": "ods_base_erbs"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Parquet1",
								"type": "DatasetReference",
								"parameters": {
									"container": "bronze",
									"path": {
										"value": "ods_base_erbs",
										"type": "Expression"
									},
									"fileName": "file.parquet"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"current_date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"lastPublishTime": "2022-05-24T10:46:51Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_bronze_ods_correcao_cidade_estado_cfri')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "set current_date",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "current_date",
							"value": {
								"value": "@utcnow('yyyyMMdd')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ods_correcao_cidade_estado_cfri",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "set current_date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CIDADE_ERRADA",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CIDADE_ERRADA",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "ESTADO_ERRADA",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ESTADO_ERRADA",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "CODIGO_IBGE",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "CODIGO_IBGE",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "NOME_CIDADE_IBGE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "NOME_CIDADE_IBGE",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "NOME_CIDADE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "NOME_CIDADE",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "NOME_CIDADE_SEM_ACENTO",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "NOME_CIDADE_SEM_ACENTO",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "NOME_ESTADO_COM_ACENTO",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "NOME_ESTADO_COM_ACENTO",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "NOME_ESTADO_SEM_ACENTO",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "NOME_ESTADO_SEM_ACENTO",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "SIGLA_ESTADO",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SIGLA_ESTADO",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "DATA_INCLUSAO",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "DATA_INCLUSAO",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "DATA_ALTERACAO",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "DATA_ALTERACAO",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SqlServerTable1",
								"type": "DatasetReference",
								"parameters": {
									"schema": "dbo",
									"tbName": "ods_correcao_cidade_estado_cfri"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Parquet1",
								"type": "DatasetReference",
								"parameters": {
									"container": "bronze",
									"path": {
										"value": "ods_correcao_cidade_estado_cfri",
										"type": "Expression"
									},
									"fileName": "file.parquet"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"current_date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"lastPublishTime": "2022-05-24T10:46:51Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_bronze_ods_dados_amplimax_consumo')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "set current_date",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "current_date",
							"value": {
								"value": "@utcnow('yyyyMMdd')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ods_dados_amplimax_consumo",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "set current_date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ANO_MES",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ANO_MES",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "NUMERO_SERIAL",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "NUMERO_SERIAL",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "MENOR_CONSUMO_DADOS_BYTE_DOWNLOAD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 28
										},
										"sink": {
											"name": "MENOR_CONSUMO_DADOS_BYTE_DOWNLOAD",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "PRIMEIRO_CONSUMO_DADOS_BYTE_DOWNLOAD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 28
										},
										"sink": {
											"name": "PRIMEIRO_CONSUMO_DADOS_BYTE_DOWNLOAD",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "ULTIMO_CONSUMO_DADOS_BYTE_DOWNLOAD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 28
										},
										"sink": {
											"name": "ULTIMO_CONSUMO_DADOS_BYTE_DOWNLOAD",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "ULTIMO_MES_ANTERIOR_CONSUMO_DADOS_BYTE_DOWNLOAD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 28
										},
										"sink": {
											"name": "ULTIMO_MES_ANTERIOR_CONSUMO_DADOS_BYTE_DOWNLOAD",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "MENOR_CONSUMO_DADOS_BYTE_UPLOAD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 28
										},
										"sink": {
											"name": "MENOR_CONSUMO_DADOS_BYTE_UPLOAD",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "PRIMEIRO_CONSUMO_DADOS_BYTE_UPLOAD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 28
										},
										"sink": {
											"name": "PRIMEIRO_CONSUMO_DADOS_BYTE_UPLOAD",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "ULTIMO_CONSUMO_DADOS_BYTE_UPLOAD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 28
										},
										"sink": {
											"name": "ULTIMO_CONSUMO_DADOS_BYTE_UPLOAD",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "ULTIMO_MES_ANTERIOR_CONSUMO_DADOS_BYTE_UPLOAD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 28
										},
										"sink": {
											"name": "ULTIMO_MES_ANTERIOR_CONSUMO_DADOS_BYTE_UPLOAD",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "TOTAL_CONSUMO_DADOS_BYTE_DOWNLOAD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 28
										},
										"sink": {
											"name": "TOTAL_CONSUMO_DADOS_BYTE_DOWNLOAD",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "TOTAL_CONSUMO_DADOS_BYTE_UPLOAD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 28
										},
										"sink": {
											"name": "TOTAL_CONSUMO_DADOS_BYTE_UPLOAD",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "DATA_INCLUSAO",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "DATA_INCLUSAO",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "DATA_ALTERACAO",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "DATA_ALTERACAO",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SqlServerTable1",
								"type": "DatasetReference",
								"parameters": {
									"schema": "dbo",
									"tbName": "ods_dados_amplimax_consumo"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Parquet1",
								"type": "DatasetReference",
								"parameters": {
									"container": "bronze",
									"path": {
										"value": "ods_dados_amplimax_consumo",
										"type": "Expression"
									},
									"fileName": "file.parquet"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"current_date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"lastPublishTime": "2022-05-24T10:46:58Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_bronze_ods_dados_amplimax_mes_fechado')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "set current_date",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "current_date",
							"value": {
								"value": "@utcnow('yyyyMMdd')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ods_dados_amplimax_mes_fechado",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "set current_date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CODIGO_LANCAMENTO",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "CODIGO_LANCAMENTO",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "VERSAO_CABECALHO",
											"type": "Byte[]",
											"physicalType": "binary"
										},
										"sink": {
											"name": "VERSAO_CABECALHO",
											"type": "Byte[]",
											"physicalType": "BINARY"
										}
									},
									{
										"source": {
											"name": "DATA_COLETA",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "DATA_COLETA",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "NUMERO_SERIAL",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "NUMERO_SERIAL",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "NUMERO_IMEI",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "NUMERO_IMEI",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "NUMERO_MAC",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "NUMERO_MAC",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "VERSAO_SOFTWARE_EQUIPAMENTO",
											"type": "Byte[]",
											"physicalType": "binary"
										},
										"sink": {
											"name": "VERSAO_SOFTWARE_EQUIPAMENTO",
											"type": "Byte[]",
											"physicalType": "BINARY"
										}
									},
									{
										"source": {
											"name": "VERSAO_SOFTWARE_MODULO_CELULAR",
											"type": "Byte[]",
											"physicalType": "binary"
										},
										"sink": {
											"name": "VERSAO_SOFTWARE_MODULO_CELULAR",
											"type": "Byte[]",
											"physicalType": "BINARY"
										}
									},
									{
										"source": {
											"name": "MCC_EQUIPAMENTO_CONECTADO",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "MCC_EQUIPAMENTO_CONECTADO",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "MNC_EQUIPAMENTO_CONECTADO",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "MNC_EQUIPAMENTO_CONECTADO",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "NOME_OPERADORA_TELEFONIA",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "NOME_OPERADORA_TELEFONIA",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "TECNOLOGIA_CONEXAO",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "TECNOLOGIA_CONEXAO",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "LARGURA_BANDA_DOWNLOAD",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "LARGURA_BANDA_DOWNLOAD",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "LARGURA_BANDA_UPLOAD",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "LARGURA_BANDA_UPLOAD",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "NIVEL_SINAL",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "NIVEL_SINAL",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "QUALIDADE_SINAL",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "QUALIDADE_SINAL",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "FREQUENCIA",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 16
										},
										"sink": {
											"name": "FREQUENCIA",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "CODIGO_LOCALIZACAO_AREA_ERB",
											"type": "Byte[]",
											"physicalType": "binary"
										},
										"sink": {
											"name": "CODIGO_LOCALIZACAO_AREA_ERB",
											"type": "Byte[]",
											"physicalType": "BINARY"
										}
									},
									{
										"source": {
											"name": "CODIGO_ESTACAO_RADIOBASE",
											"type": "Byte[]",
											"physicalType": "binary"
										},
										"sink": {
											"name": "CODIGO_ESTACAO_RADIOBASE",
											"type": "Byte[]",
											"physicalType": "BINARY"
										}
									},
									{
										"source": {
											"name": "TENSAO_POE",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 16
										},
										"sink": {
											"name": "TENSAO_POE",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "TEMPERATURA_PA",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "TEMPERATURA_PA",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "TEMPERATURA_XO",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "TEMPERATURA_XO",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "TEMPERATURA_PMIC",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "TEMPERATURA_PMIC",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "TIPO_ANTENA",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "TIPO_ANTENA",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "MODO_DISCAGEM",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "MODO_DISCAGEM",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "STATUS_CONEXAO",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "STATUS_CONEXAO",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "HABILITACAO_IPV6",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "HABILITACAO_IPV6",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "HABILITACAO_RESET_PROGRAMADO",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "HABILITACAO_RESET_PROGRAMADO",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "UTILIZACAO_TELEFONE",
											"type": "Boolean",
											"physicalType": "bit"
										},
										"sink": {
											"name": "UTILIZACAO_TELEFONE",
											"type": "Boolean",
											"physicalType": "BOOLEAN"
										}
									},
									{
										"source": {
											"name": "DATA_INCLUSAO_COLETA",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "DATA_INCLUSAO_COLETA",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "CODIGO_BINARIO",
											"type": "Byte[]",
											"physicalType": "varbinary"
										},
										"sink": {
											"name": "CODIGO_BINARIO",
											"type": "Byte[]",
											"physicalType": "BINARY"
										}
									},
									{
										"source": {
											"name": "IP_REDE_WAN",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "IP_REDE_WAN",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "LATITUDE_GPS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 9
										},
										"sink": {
											"name": "LATITUDE_GPS",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "LONGITUDE_GPS",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 9
										},
										"sink": {
											"name": "LONGITUDE_GPS",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "DATA_INCLUSAO",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "DATA_INCLUSAO",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "DATA_ALTERACAO",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "DATA_ALTERACAO",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "ORIGEM",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ORIGEM",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "CONSUMO_DADOS_BYTE_UPLOAD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 26
										},
										"sink": {
											"name": "CONSUMO_DADOS_BYTE_UPLOAD",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "CONSUMO_DADOS_BYTE_DOWNLOAD",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 0,
											"precision": 26
										},
										"sink": {
											"name": "CONSUMO_DADOS_BYTE_DOWNLOAD",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "DATA_REFERENCIA",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "DATA_REFERENCIA",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "LATITUDE_ERB",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 9
										},
										"sink": {
											"name": "LATITUDE_ERB",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "LONGITUDE_ERB",
											"type": "Decimal",
											"physicalType": "decimal",
											"scale": 6,
											"precision": 9
										},
										"sink": {
											"name": "LONGITUDE_ERB",
											"type": "Decimal",
											"physicalType": "DECIMAL"
										}
									},
									{
										"source": {
											"name": "NOME_CIDADE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "NOME_CIDADE",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "NOME_ESTADO",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "NOME_ESTADO",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "NOME_REGIAO",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "NOME_REGIAO",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "VERSAO_SOFTWARE_EQUIPAMENTO_ORIGEM",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "VERSAO_SOFTWARE_EQUIPAMENTO_ORIGEM",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "VERSAO_SOFTWARE_MODULO_CELULAR_ORIGEM",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "VERSAO_SOFTWARE_MODULO_CELULAR_ORIGEM",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "NR_RANK_DESC",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "NR_RANK_DESC",
											"type": "Int64",
											"physicalType": "INT_64"
										}
									},
									{
										"source": {
											"name": "NR_RANK_ASC",
											"type": "Int64",
											"physicalType": "bigint"
										},
										"sink": {
											"name": "NR_RANK_ASC",
											"type": "Int64",
											"physicalType": "INT_64"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SqlServerTable1",
								"type": "DatasetReference",
								"parameters": {
									"schema": "dbo",
									"tbName": "ods_dados_amplimax_mes_fechado"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Parquet1",
								"type": "DatasetReference",
								"parameters": {
									"container": "bronze",
									"path": {
										"value": "ods_dados_amplimax_mes_fechado",
										"type": "Expression"
									},
									"fileName": "file.parquet"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"current_date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"lastPublishTime": "2022-05-24T10:46:51Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_bronze_ods_faturamento')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "set current_date",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "current_date",
							"value": {
								"value": "@utcnow('yyyyMMdd')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ods_faturamento",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "set current_date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "NUMERO_NOTA_FISCAL",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "NUMERO_NOTA_FISCAL",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "SERIE_NOTA_FISCAL",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SERIE_NOTA_FISCAL",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "ITEM_NOTA_FISCAL",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "ITEM_NOTA_FISCAL",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "DATA_EMISSAO_NOTA_FISCAL",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "DATA_EMISSAO_NOTA_FISCAL",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "CODIGO_PRODUTO",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CODIGO_PRODUTO",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "CODIGO_EMPRESA_ELSYS",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CODIGO_EMPRESA_ELSYS",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "CODIGO_FILIAL_ELSYS",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CODIGO_FILIAL_ELSYS",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "CODIGO_CLIENTE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CODIGO_CLIENTE",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "CODIGO_FILIAL_CLIENTE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CODIGO_FILIAL_CLIENTE",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "CODIGO_CANAL_VENDAS",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CODIGO_CANAL_VENDAS",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "CODIGO_REGIAO_ATENDIMENTO_CLIENTE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CODIGO_REGIAO_ATENDIMENTO_CLIENTE",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "CODIGO_REGIONAL",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CODIGO_REGIONAL",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "CODIGO_CONDICAO_PAGAMENTO",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CODIGO_CONDICAO_PAGAMENTO",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "CODIGO_REPRESENTANTE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CODIGO_REPRESENTANTE",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "CODIGO_TRANSPORTADORA",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CODIGO_TRANSPORTADORA",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "OPERACAO",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "OPERACAO",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "CFOP",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CFOP",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "QUANTIDADE_PRODUTO",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "QUANTIDADE_PRODUTO",
											"type": "Double",
											"physicalType": "DOUBLE"
										}
									},
									{
										"source": {
											"name": "VALOR_UNITARIO_PRODUTO",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "VALOR_UNITARIO_PRODUTO",
											"type": "Double",
											"physicalType": "DOUBLE"
										}
									},
									{
										"source": {
											"name": "VALOR_CUSTO_PRODUTO",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "VALOR_CUSTO_PRODUTO",
											"type": "Double",
											"physicalType": "DOUBLE"
										}
									},
									{
										"source": {
											"name": "VALOR_DESCONTO_PRODUTO",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "VALOR_DESCONTO_PRODUTO",
											"type": "Double",
											"physicalType": "DOUBLE"
										}
									},
									{
										"source": {
											"name": "VALOR_IPI_PRODUTO",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "VALOR_IPI_PRODUTO",
											"type": "Double",
											"physicalType": "DOUBLE"
										}
									},
									{
										"source": {
											"name": "VALOR_ICMS_PRODUTO",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "VALOR_ICMS_PRODUTO",
											"type": "Double",
											"physicalType": "DOUBLE"
										}
									},
									{
										"source": {
											"name": "VALOR_ISS_PRODUTO",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "VALOR_ISS_PRODUTO",
											"type": "Double",
											"physicalType": "DOUBLE"
										}
									},
									{
										"source": {
											"name": "VALOR_INSS_PRODUTO",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "VALOR_INSS_PRODUTO",
											"type": "Double",
											"physicalType": "DOUBLE"
										}
									},
									{
										"source": {
											"name": "VALOR_IRRF_PRODUTO",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "VALOR_IRRF_PRODUTO",
											"type": "Double",
											"physicalType": "DOUBLE"
										}
									},
									{
										"source": {
											"name": "VALOR_PIS_RETIDO_PRODUTO",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "VALOR_PIS_RETIDO_PRODUTO",
											"type": "Double",
											"physicalType": "DOUBLE"
										}
									},
									{
										"source": {
											"name": "VALOR_CONFINS_RETIDO_PRODUTO",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "VALOR_CONFINS_RETIDO_PRODUTO",
											"type": "Double",
											"physicalType": "DOUBLE"
										}
									},
									{
										"source": {
											"name": "VALOR_CONTRIBUICAO_SOCIAL_RETIDO_PRODUTO",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "VALOR_CONTRIBUICAO_SOCIAL_RETIDO_PRODUTO",
											"type": "Double",
											"physicalType": "DOUBLE"
										}
									},
									{
										"source": {
											"name": "VALOR_PIS_APURACAO_PRODUTO",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "VALOR_PIS_APURACAO_PRODUTO",
											"type": "Double",
											"physicalType": "DOUBLE"
										}
									},
									{
										"source": {
											"name": "VALOR_CONFINS_APURACAO_PRODUTO",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "VALOR_CONFINS_APURACAO_PRODUTO",
											"type": "Double",
											"physicalType": "DOUBLE"
										}
									},
									{
										"source": {
											"name": "VALOR_FRETE_PRODUTO",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "VALOR_FRETE_PRODUTO",
											"type": "Double",
											"physicalType": "DOUBLE"
										}
									},
									{
										"source": {
											"name": "VALOR_TOTAL_PRODUTO",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "VALOR_TOTAL_PRODUTO",
											"type": "Double",
											"physicalType": "DOUBLE"
										}
									},
									{
										"source": {
											"name": "DATA_INCLUSAO",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "DATA_INCLUSAO",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "DATA_ALTERACAO",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "DATA_ALTERACAO",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "CODIGO_VENDEDOR",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CODIGO_VENDEDOR",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "QUANTIDADE_PRODUTO_CARTEIRA",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "QUANTIDADE_PRODUTO_CARTEIRA",
											"type": "Double",
											"physicalType": "DOUBLE"
										}
									},
									{
										"source": {
											"name": "VALOR_PRODUTO_CARTEIRA",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "VALOR_PRODUTO_CARTEIRA",
											"type": "Double",
											"physicalType": "DOUBLE"
										}
									},
									{
										"source": {
											"name": "GRUPO_OPERACAO",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "GRUPO_OPERACAO",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "VALOR_BASE",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "VALOR_BASE",
											"type": "Double",
											"physicalType": "DOUBLE"
										}
									},
									{
										"source": {
											"name": "CODIGO_TES",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CODIGO_TES",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "LOGIN_LOJA_ECOMMERCE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "LOGIN_LOJA_ECOMMERCE",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "QUANTIDADE_BONIFICACAO",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "QUANTIDADE_BONIFICACAO",
											"type": "Double",
											"physicalType": "DOUBLE"
										}
									},
									{
										"source": {
											"name": "VALOR_PRODUTO_BONIFICACAO",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "VALOR_PRODUTO_BONIFICACAO",
											"type": "Double",
											"physicalType": "DOUBLE"
										}
									},
									{
										"source": {
											"name": "VALOR_UNITARIO_TABELA",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "VALOR_UNITARIO_TABELA",
											"type": "Double",
											"physicalType": "DOUBLE"
										}
									},
									{
										"source": {
											"name": "NUMERO_PEDIDO",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "NUMERO_PEDIDO",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "STATUS_PEDIDO",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "STATUS_PEDIDO",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "NUMERO_ITEM_PEDIDO",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "NUMERO_ITEM_PEDIDO",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "PAIS_EQUIPAMENTO",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PAIS_EQUIPAMENTO",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "FORMA_PAGAMENTO",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "FORMA_PAGAMENTO",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "CIDADE_EQUIPAMENTO",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CIDADE_EQUIPAMENTO",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "VALOR_DIFAL_PRODUTO",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "VALOR_DIFAL_PRODUTO",
											"type": "Double",
											"physicalType": "DOUBLE"
										}
									},
									{
										"source": {
											"name": "NUMERO_PROPOSTA_SOLAR",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "NUMERO_PROPOSTA_SOLAR",
											"type": "String",
											"physicalType": "UTF8"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SqlServerTable1",
								"type": "DatasetReference",
								"parameters": {
									"schema": "dbo",
									"tbName": "ods_faturamento"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Parquet1",
								"type": "DatasetReference",
								"parameters": {
									"container": "bronze",
									"path": {
										"value": "ods_faturamento",
										"type": "Expression"
									},
									"fileName": "file.parquet"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"current_date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"lastPublishTime": "2022-05-24T10:46:52Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_bronze_ods_serial_produto')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "set current_date",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "current_date",
							"value": {
								"value": "@utcnow('yyyyMMdd')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ods_serial_produto",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "set current_date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "select *\nfrom ods_serial_produto",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "CODIGO_EMPRESA_ELSYS",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CODIGO_EMPRESA_ELSYS",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "FILIAL_EMPRESA_ELSYS",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "FILIAL_EMPRESA_ELSYS",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "COD_CLIENTE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "COD_CLIENTE",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "COD_FILIAL_CLIENTE",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "COD_FILIAL_CLIENTE",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "LOCAL_ARMAZENAMENTO",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "LOCAL_ARMAZENAMENTO",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "NUMERO_NF",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "NUMERO_NF",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "SERIE_NF",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SERIE_NF",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "CODIGO_PRODUTO",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CODIGO_PRODUTO",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "SERIAL_PRODUTO",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SERIAL_PRODUTO",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "SERIAL_CARTAO",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "SERIAL_CARTAO",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "CA_ID",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CA_ID",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "DATA_PRODUCAO",
											"type": "DateTime",
											"physicalType": "date"
										},
										"sink": {
											"name": "DATA_PRODUCAO",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "HORA",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "HORA",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "CODIGO_PRODUTO_ASSISTENCIA_TECNICA",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "CODIGO_PRODUTO_ASSISTENCIA_TECNICA",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "DATA_INCLUSAO",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "DATA_INCLUSAO",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									},
									{
										"source": {
											"name": "DATA_ALTERACAO",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "DATA_ALTERACAO",
											"type": "DateTime",
											"physicalType": "INT_96"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SqlServerTable1",
								"type": "DatasetReference",
								"parameters": {
									"schema": "dbo",
									"tbName": "ods_serial_produto"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Parquet1",
								"type": "DatasetReference",
								"parameters": {
									"container": "bronze",
									"path": {
										"value": "ods_serial_produto",
										"type": "Expression"
									},
									"fileName": "file.parquet"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"current_date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"lastPublishTime": "2022-05-24T10:46:52Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_silver_dw_cidade_estatistica')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Notebook1",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/developer_one@brvit.com.br/silver/silver_dw_cidade_estatistica"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "silver"
				},
				"annotations": [],
				"lastPublishTime": "2022-05-24T10:49:13Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_silver_dw_fato_anatel_banda_larga')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Notebook1",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/developer_one@brvit.com.br/silver/silver_dw_fato_anatel_banda_larga"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "silver"
				},
				"annotations": [],
				"lastPublishTime": "2022-05-24T10:49:42Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_silver_ods_base_erbs')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Notebook1",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/developer_one@brvit.com.br/silver/silver_ods_base_erbs"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "silver"
				},
				"annotations": [],
				"lastPublishTime": "2022-05-24T10:50:09Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_silver_ods_dados_amplimax_mes_fechado')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Notebook1",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/developer_one@brvit.com.br/silver/silver_ods_dados_amplimax_mes_fechado"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "silver"
				},
				"annotations": [],
				"lastPublishTime": "2022-05-24T10:50:45Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_silver_ods_serial_produto')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Notebook1",
						"type": "DatabricksNotebook",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/developer_one@brvit.com.br/silver/silver_ods_serial_produto"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "silver"
				},
				"annotations": [],
				"lastPublishTime": "2022-05-24T10:51:07Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_stg_thor_mcc_mnc')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "set current_date",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "current_date",
							"value": {
								"value": "@utcnow('yyyyMMdd')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "stg_thor_mcc_mnc",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "set current_date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "PAIS",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "PAIS",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "CODIGO_MCC",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "CODIGO_MCC",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "NOME_OPERADORA_TELEFONIA",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "NOME_OPERADORA_TELEFONIA",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "CODIGO_MNC",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "CODIGO_MNC",
											"type": "Int32",
											"physicalType": "INT_32"
										}
									},
									{
										"source": {
											"name": "OPERADORA_SIMPLIFICADA",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "OPERADORA_SIMPLIFICADA",
											"type": "String",
											"physicalType": "UTF8"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SqlServerTable1",
								"type": "DatasetReference",
								"parameters": {
									"schema": "dbo",
									"tbName": "stg_thor_mcc_mnc"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Parquet1",
								"type": "DatasetReference",
								"parameters": {
									"container": "bronze",
									"path": {
										"value": "stg_thor_mcc_mnc",
										"type": "Expression"
									},
									"fileName": "file.parquet"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"current_date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"lastPublishTime": "2022-04-16T15:40:56Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow1')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Parquet2",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Parquet3",
								"type": "DatasetReference"
							},
							"name": "GravaTmp"
						}
					],
					"transformations": [
						{
							"name": "LatitudeDiferenteZero"
						},
						{
							"name": "OrderByCodigoLancamento"
						},
						{
							"name": "NrRankIgualUm"
						},
						{
							"name": "AddNrRank"
						}
					],
					"scriptLines": [
						"source(output(",
						"          CODIGO_LANCAMENTO as integer,",
						"          VERSAO_CABECALHO as binary,",
						"          DATA_COLETA as timestamp,",
						"          NUMERO_SERIAL as string,",
						"          NUMERO_IMEI as string,",
						"          NUMERO_MAC as string,",
						"          VERSAO_SOFTWARE_EQUIPAMENTO as binary,",
						"          VERSAO_SOFTWARE_MODULO_CELULAR as binary,",
						"          MCC_EQUIPAMENTO_CONECTADO as integer,",
						"          MNC_EQUIPAMENTO_CONECTADO as integer,",
						"          NOME_OPERADORA_TELEFONIA as string,",
						"          TECNOLOGIA_CONEXAO as string,",
						"          LARGURA_BANDA_DOWNLOAD as string,",
						"          LARGURA_BANDA_UPLOAD as string,",
						"          NIVEL_SINAL as integer,",
						"          QUALIDADE_SINAL as integer,",
						"          FREQUENCIA as decimal(16,6),",
						"          CODIGO_LOCALIZACAO_AREA_ERB as binary,",
						"          CODIGO_ESTACAO_RADIOBASE as binary,",
						"          TENSAO_POE as decimal(16,6),",
						"          TEMPERATURA_PA as integer,",
						"          TEMPERATURA_XO as integer,",
						"          TEMPERATURA_PMIC as integer,",
						"          TIPO_ANTENA as boolean,",
						"          MODO_DISCAGEM as boolean,",
						"          STATUS_CONEXAO as boolean,",
						"          HABILITACAO_IPV6 as boolean,",
						"          HABILITACAO_RESET_PROGRAMADO as boolean,",
						"          UTILIZACAO_TELEFONE as boolean,",
						"          DATA_INCLUSAO_COLETA as timestamp,",
						"          CODIGO_BINARIO as binary,",
						"          IP_REDE_WAN as string,",
						"          LATITUDE_GPS as decimal(9,6),",
						"          LONGITUDE_GPS as decimal(9,6),",
						"          DATA_INCLUSAO as timestamp,",
						"          DATA_ALTERACAO as timestamp,",
						"          ORIGEM as string,",
						"          CONSUMO_DADOS_BYTE_UPLOAD as decimal(26,0),",
						"          CONSUMO_DADOS_BYTE_DOWNLOAD as decimal(26,0),",
						"          DATA_REFERENCIA as timestamp,",
						"          LATITUDE_ERB as decimal(9,6),",
						"          LONGITUDE_ERB as decimal(9,6),",
						"          NOME_CIDADE as string,",
						"          NOME_ESTADO as string,",
						"          NOME_REGIAO as string,",
						"          VERSAO_SOFTWARE_EQUIPAMENTO_ORIGEM as string,",
						"          VERSAO_SOFTWARE_MODULO_CELULAR_ORIGEM as string,",
						"          NR_RANK_DESC as long,",
						"          NR_RANK_ASC as long",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     limit: 100,",
						"     ignoreNoFilesFound: false,",
						"     format: 'parquet') ~> source1",
						"source1 filter(LATITUDE_GPS != 0.0) ~> LatitudeDiferenteZero",
						"LatitudeDiferenteZero sort(asc(CODIGO_LANCAMENTO, true)) ~> OrderByCodigoLancamento",
						"AddNrRank filter(NR_RANK == 1) ~> NrRankIgualUm",
						"OrderByCodigoLancamento window(over(NUMERO_SERIAL),",
						"     asc(CODIGO_LANCAMENTO, true),",
						"     NR_RANK = rowNumber()) ~> AddNrRank",
						"source1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          CODIGO_LANCAMENTO as integer,",
						"          VERSAO_CABECALHO as binary,",
						"          DATA_COLETA as timestamp,",
						"          NUMERO_SERIAL as string,",
						"          NUMERO_IMEI as string,",
						"          NUMERO_MAC as string,",
						"          VERSAO_SOFTWARE_EQUIPAMENTO as binary,",
						"          VERSAO_SOFTWARE_MODULO_CELULAR as binary,",
						"          MCC_EQUIPAMENTO_CONECTADO as integer,",
						"          MNC_EQUIPAMENTO_CONECTADO as integer,",
						"          NOME_OPERADORA_TELEFONIA as string,",
						"          TECNOLOGIA_CONEXAO as string,",
						"          LARGURA_BANDA_DOWNLOAD as string,",
						"          LARGURA_BANDA_UPLOAD as string,",
						"          NIVEL_SINAL as integer,",
						"          QUALIDADE_SINAL as integer,",
						"          FREQUENCIA as decimal(16,6),",
						"          CODIGO_LOCALIZACAO_AREA_ERB as binary,",
						"          CODIGO_ESTACAO_RADIOBASE as binary,",
						"          TENSAO_POE as decimal(16,6),",
						"          TEMPERATURA_PA as integer,",
						"          TEMPERATURA_XO as integer,",
						"          TEMPERATURA_PMIC as integer,",
						"          TIPO_ANTENA as boolean,",
						"          MODO_DISCAGEM as boolean,",
						"          STATUS_CONEXAO as boolean,",
						"          HABILITACAO_IPV6 as boolean,",
						"          HABILITACAO_RESET_PROGRAMADO as boolean,",
						"          UTILIZACAO_TELEFONE as boolean,",
						"          DATA_INCLUSAO_COLETA as timestamp,",
						"          CODIGO_BINARIO as binary,",
						"          IP_REDE_WAN as string,",
						"          LATITUDE_GPS as decimal(9,6),",
						"          LONGITUDE_GPS as decimal(9,6),",
						"          DATA_INCLUSAO as timestamp,",
						"          DATA_ALTERACAO as timestamp,",
						"          ORIGEM as string,",
						"          CONSUMO_DADOS_BYTE_UPLOAD as decimal(26,0),",
						"          CONSUMO_DADOS_BYTE_DOWNLOAD as decimal(26,0),",
						"          DATA_REFERENCIA as timestamp,",
						"          LATITUDE_ERB as decimal(9,6),",
						"          LONGITUDE_ERB as decimal(9,6),",
						"          NOME_CIDADE as string,",
						"          NOME_ESTADO as string,",
						"          NOME_REGIAO as string,",
						"          VERSAO_SOFTWARE_EQUIPAMENTO_ORIGEM as string,",
						"          VERSAO_SOFTWARE_MODULO_CELULAR_ORIGEM as string,",
						"          NR_RANK_DESC as long,",
						"          NR_RANK_ASC as long",
						"     ),",
						"     format: 'parquet',",
						"     partitionFileNames:['tmp_ods_dados_amplimax_mes_fechado_10'],",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     partitionBy('hash', 1)) ~> GravaTmp"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "dataflow1",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"GravaTmp": {}
								}
							},
							"staging": {},
							"integrationRuntime": {
								"referenceName": "integrationRuntime1",
								"type": "IntegrationRuntimeReference"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2022-05-27T18:35:16Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/dataflow1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tg_bronze_dados_amplimax_mes_fechado')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "pl_bronze_ods_dados_amplimax_mes_fechado",
						"type": "PipelineReference"
					},
					"parameters": {}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Hour",
					"interval": 24,
					"startTime": "2022-05-24T19:00:00Z",
					"delay": "00:00:00",
					"maxConcurrency": 50,
					"retryPolicy": {
						"intervalInSeconds": 30
					},
					"dependsOn": []
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/pl_bronze_ods_dados_amplimax_mes_fechado')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tg_bronze_dw_cidade_estatistica')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "pl_bronze_dw_cidade_estatistica",
						"type": "PipelineReference"
					},
					"parameters": {}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Hour",
					"interval": 24,
					"startTime": "2022-05-24T19:00:00Z",
					"delay": "00:00:00",
					"maxConcurrency": 50,
					"retryPolicy": {
						"intervalInSeconds": 30
					},
					"dependsOn": []
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/tg_bronze_dw_fato_anatel_banda_larga')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "pl_bronze_dw_fato_anatel_banda_larga",
						"type": "PipelineReference"
					},
					"parameters": {}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Hour",
					"interval": 24,
					"startTime": "2022-05-24T19:00:00Z",
					"delay": "00:00:00",
					"maxConcurrency": 50,
					"retryPolicy": {
						"intervalInSeconds": 30
					},
					"dependsOn": []
				}
			},
			"dependsOn": []
		}
	]
}